/* static/admin/index.css */
.Header{
    background: var(--background-dark);
    color: white;
    padding: 5px 0;
    border-bottom: 7px solid white;
    margin-bottom: 20px;
}

.Header .wrapper{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
}

.Header .logo{
    font: 25px/1.5 Oswald, Limonf3;
}

.Header form{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.Header form input,.Header form select{
    font: var(--body-font);
    padding: 2px 5px;
}

.Header .logout{
    text-align: right;
}

.Header .logout a{
    color: white;
}

.Main .wrapper{
    display: grid;
    grid-template-columns: 25% auto;
}

.Main .wrapper .sidebar{
    background: var(--background);
    margin-right: 10px;
    min-height: 400px;
}

.Main .wrapper .sidebar .inner{
    padding: 20px;
}

.Main .wrapper .sidebar .inner{
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    grid-gap: 10px;
}

.Main .wrapper .sidebar .inner img{
    width: 100%;
}
.Main .wrapper .sidebar .inner .title{
    font: 18px/1.5 Oswald, Koulen;
    color: black;
}