/* static/admin/post.css */

.Post form .ck-editor__editable{
    min-height: 300px;
}

.Post .header{
    background: var(--background-dark);
    color: white;
    border-bottom: 7px solid white;
}

.Post .header .inner{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    padding: 7px;
}

.Post .header .inner .logo{
    font: 25px/1.5 Oswald, Limonf3;
}

.Post .header .inner form{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.Post .header .inner form input,
.Post .header .inner form select{
    font: var(--body-font);
    padding: 2px 5px;
}

.Post .header .inner .logout{
    text-align: right;
}