/* static/admin/post.css */

.Post .header{
    background: var(--background-dark);
    color: white;
    border-bottom: 7px solid white;
    margin-bottom: 20px;
}

.Post .header .inner{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    padding: 7px;
}

.Post .header .inner .logo{
    font: 25px/1.5 Oswald, Limonf3;
}

.Post .header .inner form{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.Post .header .inner form input,
.Post .header .inner form select{
    font: var(--body-font);
    padding: 2px 5px;
}

.Post .header .inner .logout{
    text-align: right;
}

.Post .main{
    display: grid;
    grid-template-columns: auto 75%;
    grid-gap: 10px;
    padding-bottom: 30px;
}

.Post .main .sidebar{
    background: var(--background);
    padding: 20px;
}

.Post .main .sidebar .inner{
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 15px;
    align-items: center;
}

.Post .main .sidebar .inner img{
    width: 100%;
    float: left;
}

.Post .main .sidebar .inner .title{
    font: 18px/1.5 Oswald, Bayon;
}

.Post .main .content form input,
.Post .main .content form select,
.Post .main .content .wrapper input,
.Post .main .content .wrapper select{
    width: 100%;
    font: var(--body-font);
    padding: 2px 5px;
}

.Post .main .content form .ck-editor__editable{
    min-height: 300px;
}

.Post .main .content form .wrapper,
.Post .main .content .wrapper,
.Post .main .content .viddata div{
    display: grid;
    grid-template-columns: 20% 32.5% 32.5% 15%;
}

.Post .main .content form .submit{
    background: lavender;
    text-align: center;
    color: black;
    border: 1px solid grey;
    padding: 5px;
}

.Post .main .content .viddata div{
    width: 100%;
}

.Post .main .content .viddata div p:hover{
    cursor: pointer;
    color: red;
}

.Post .main .content .viddata b,
.Post .main .content .viddata input,
.Post .main .content .viddata p{
    font: var(--body-font);
    padding: 5px;
    background: lightgrey;
    border: 1px solid grey;
    text-align: center;
}

.Post .main .content .viddata input{
    background: white;
}